doctype html

html
  head
    title Error
    style
     include style.css
  body
    div.wrapper
      div.outer-card
        div.inner-card
          h1 Something went wrong
          a(href='/') Back
          p=error
