doctype html

html
  head
    title Success
    style
     include style.css
  body
    div.wrapper
      div.outer-card
        div.inner-card
          h1 Task was completed successfully!
          a(href='/') Back